<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Lits Test NG first suite" verbose="1" parallel="false">
    <!--    <listeners>-->
    <!--        <listener class-name=""/>-->
    <!--    </listeners>-->
    <test name="Calculator Test">

        <packages>
          <package name="com.lits.rubinskyy.calculator"></package>
        </packages>
    </test>

    <test name="App Test">

        <packages>
            <package name="com.lits.rubinskyy.app"></package>
        </packages>
    </test>
</suite>